# Glassdoor - Companies and Ratings

In [1]:
import  requests
import urllib.request
import csv
import pandas as pd 
import numpy as np
import json
from bs4 import BeautifulSoup
import time

In [2]:
#Employer.csv contains all the employers retrieved via web scraping job posts. 
#Here will be using those values for the 'employer' parameter while making request via Glassdoor API

employer_df = pd.read_csv("Employer.csv")
print(employer_df.shape[0])

1579

In [3]:
employer_df[327:328]

              Employer
327  Conrad Consulting

### Getting ratings for the companies in the Employer.csv

We are using public Glassdoor API id (t.p=25738) and key (t.k=iRCtcWJQamE) provided via blog post: [Get Glassdoor Data from their API using Python](https://oonlab.com/get-glassdoor-data-from-their-api-using-python). This API key was gained 3 years ago when Glassdoor had free API sign up which they don’t provide any more until further notice [(link)](https://help.glassdoor.com/article/Glassdoor-API/en_US). Also, this API key has come with following restrictions on Glassdoor API Usage: [Public API Terms of Use](https://www.glassdoor.com/crs/api/glassdoor-public-api-terms.pdf). We have decided to use this public API id and key until we get our partnership inquiry permitted.

Note: We have submitted [partnership inquiry](https://help.glassdoor.com/ContactUs/en_US) several times during the fits month of Final Team Software Project, but with no respond from Glassdoor.

Glassdoor API request, used in the blog post, retrieves data about companies ratings. By reading [Glassdoor API Overview](https://www.glassdoor.com/developer/index.htm) and guidance in regards to parameters, we come to conclusion that by changing value of parameter ‘action’ from ‘action = employer’ to:
‘action = salaries’ we will fetch data about salaries, and
‘action = interviews’ we will fetch data about interview difficulty.

#### Job Postings Data
We weren’t able to find a value of parameter ‘action’ that would retrieve data about job postings, hence we decided to use web scraping for that quest. Tech topics from Meetup were used to retrieve corresponding job posts for Dublin.

In [4]:
URLs=[]
for i in range(employer_df.shape[0]):
    parametars={'t.p':25738,'t.k':'iRCtcWJQamE','userip':'0.0.0.0','format':'json','v':1,'action':'employers','employer':employer_df['Employer'][i]}
    r = requests.get("http://api.glassdoor.com/api/api.htm", params=parametars)
    #print(r.url)
    URLs.append(r.url)
    
len(URLs)

1579

In [5]:
URLs[327]

'http://api.glassdoor.com/api/api.htm?t.p=25738&t.k=iRCtcWJQamE&userip=0.0.0.0&format=json&v=1&action=employers&employer=Conrad+Consulting'

In [6]:
hdr = {'User-Agent': 'Mozilla/5.0'}
ratings_list_nested = []
for i in range(len(URLs)):
    url = URLs[i]
    req = urllib.request.Request(url,headers=hdr)
    response = urllib.request.urlopen(req)
    time.sleep( 1 )
    soup = BeautifulSoup(response, 'lxml')
    ratings_data=json.loads(soup.p.get_text())
    ratings_list_nested.append(pd.DataFrame(ratings_data['response']['employers']))

In [19]:
ratings_list_nested[400]

,careerOpportunitiesRating,ceo,compensationAndBenefitsRating,cultureAndValuesRating,exactMatch,id,industry,industryId,industryName,isEEP,...,numberOfRatings,overallRating,ratingDescription,recommendToFriendRating,sectorId,sectorName,seniorLeadershipRating,squareLogo,website,workLifeBalanceRating
0,2.9,"{'name': 'Ian Filby', 'title': 'CEO', 'numberO...",3.1,2.7,True,12458,Home Furniture & Housewares Stores,200112,Home Furniture & Housewares Stores,False,...,40,3.3,OK,46,10022,Retail,2.5,https://media.glassdoor.com/sqll/12458/dfs-fur...,www.dfs.co.uk,2.3

In [8]:
len(ratings_list_nested)

1579

In [9]:
company_rating_df_nested = pd.DataFrame()
for i in range(len(ratings_list_nested)):
    company_rating_df_nested=company_rating_df_nested.append(ratings_list_nested[i])
company_rating_df_nested

,careerOpportunitiesRating,ceo,compensationAndBenefitsRating,cultureAndValuesRating,exactMatch,featuredReview,id,industry,industryId,industryName,...,overallRating,parentEmployer,ratingDescription,recommendToFriendRating,sectorId,sectorName,seniorLeadershipRating,squareLogo,website,workLifeBalanceRating
0,2.7,"{'name': 'Ranjit Singh', 'title': 'CEO', 'numb...",2.2,2.5,False,{'attributionURL': 'https://www.glassdoor.com/...,523766,Food & Beverage Manufacturing,200071.0,Food & Beverage Manufacturing,...,3.0,NaN,OK,49,10015.0,Manufacturing,2.4,https://media.glassdoor.com/sqll/523766/2-sist...,www.2sfg.com,2.6
0,5.0,NaN,4.4,5.0,True,NaN,1839855,IT Services,200064.0,IT Services,...,4.8,NaN,Very Satisfied,100,10013.0,Information Technology,5.0,https://media.glassdoor.com/sqll/1839855/2sour...,www.2sourcetalent.com,4.4
0,3.0,"{'name': 'Robert Finnegan', 'title': 'CEO', 'n...",3.4,3.1,False,{'attributionURL': 'https://www.glassdoor.com/...,39331,Telecommunications Services,200122.0,Telecommunications Services,...,3.2,NaN,OK,57,10023.0,Telecommunications,2.7,https://media.glassdoor.com/sqll/39331/3-irela...,www.three.ie,3.3
0,2.1,"{'name': 'Damian Doherty', 'title': 'Owner', '...",2.3,2.3,True,{'attributionURL': 'https://www.glassdoor.com/...,1193024,Staffing & Outsourcing,200032.0,Staffing & Outsourcing,...,2.8,NaN,OK,49,10006.0,Business Services,2.8,https://media.glassdoor.com/sqll/1193024/3d-pe...,www.3dpersonnel.com,2.5
0,5.0,NaN,5.0,5.0,False,NaN,1169343,,NaN,NaN,...,5.0,NaN,Very Satisfied,100,NaN,NaN,5.0,,www.aattech.com,5.0
0,3.3,"{'name': 'Ulrich Spiesshofer', 'title': 'Chief...",3.3,3.6,True,{'attributionURL': 'https://www.glassdoor.com/...,3076,Electrical & Electronic Manufacturing,200070.0,Electrical & Electronic Manufacturing,...,3.6,NaN,Satisfied,72,10015.0,Manufacturing,3.0,https://media.glassdoor.com/sqll/3076/abb-squa...,www.abb.com,3.6
1,3.0,"{'name': 'Angel Alvarez', 'title': 'Chief Exec...",3.3,3.0,False,NaN,485895,Wholesale,200033.0,Wholesale,...,3.1,NaN,OK,51,10006.0,Business Services,2.9,https://media.glassdoor.com/sqll/485895/abb-co...,www.abboptical.com,3.2
2,3.3,NaN,3.9,3.9,False,NaN,748075,Consulting,200028.0,Consulting,...,3.9,NaN,Satisfied,100,10006.0,Business Services,3.5,,www.abb-consultant.com,3.6
3,5.0,NaN,5.0,5.0,False,NaN,908157,Health Care Services & Hospitals,200059.0,Health Care Services & Hospitals,...,5.0,NaN,Very Satisfied,100,10012.0,Health Care,5.0,,www.tropos.com,5.0
4,2.3,"{'name': 'Matthias Heilmann', 'title': 'Produc...",3.1,2.4,False,NaN,3233,Computer Hardware & Software,200060.0,Computer Hardware & Software,...,2.3,"{'id': 3076, 'name': 'ABB', 'relationshipDate'...",Dissatisfied,29,10013.0,Information Technology,2.0,https://media.glassdoor.com/sqll/3233/ventyx-s...,www.abb.com/enterprise-software,2.8
5,4.0,NaN,2.7,4.0,False,NaN,996554,,NaN,NaN,...,4.0,NaN,Satisfied,100,NaN,NaN,4.0,,www.madox.in,3.2
6,5.0,NaN,4.0,5.0,False,NaN,1949573,,NaN,NaN,...,5.0,NaN,Very Satisfied,100,NaN,NaN,5.0,,www.berkshireballet.org,5.0
7,4.0,NaN,3.0,4.0,False,NaN,1943038,,NaN,NaN,...,4.0,NaN,Satisfied,100,NaN,NaN,4.0,,www.abbe.com.ph,5.0
8,0.0,NaN,0.0,0.0,False,NaN,2100202,,NaN,NaN,...,0,NaN,Not Applicable,0,NaN,NaN,0.0,,www.abbegroup.com,0.0
9,0.0,NaN,0.0,0.0,False,NaN,1987919,,NaN,NaN,...,0,NaN,Not Applicable,0,NaN,NaN,0.0,,www.abbe-lib.org,0.0
0,3.6,"{'name': 'Rehan A Khan', 'title': 'Managing Di...",3.7,3.5,True,{'attributionURL': 'https://www.glassdoor.com/...,503114,Biotech & Pharmaceuticals,200021.0,Biotech & Pharmaceuticals,...,3.6,"{'id': 12, 'name': 'Abbott Labs', 'relationshi...",Satisfied,74,10005.0,Biotech & Pharmaceuticals,3.3,https://media.glassdoor.com/sqll/503114/abbott...,www.abbott.com,3.3
1,1.5,NaN,1.5,1.9,False,NaN,1259725,,NaN,NaN,...,2.3,NaN,Dissatisfied,46,NaN,NaN,1.0,https://media.glassdoor.com/sqll/1259725/abbot...,www.abbottandabbott.net,1.5
2,3.3,"{'name': 'Miles D. White', 'title': 'Chairman ...",3.8,3.5,False,{'attributionURL': 'https://www.glassdoor.com/...,12,Biotech & Pharmaceuticals,200021.0,Biotech & Pharmaceuticals,...,3.6,NaN,Satisfied,71,10005.0,Biotech & Pharmaceuticals,3.0,https://media.glassdoor.com/sqll/12/abbott-lab...,www.abbott.com,3.4
3,2.3,"{'name': 'Miles D. White', 'title': 'Chairman ...",3.5,2.5,False,{'attributionURL': 'https://www.glassdoor.com/...,195772,Health Care Products Manufacturing,200072.0,Health Care Products Manufacturing,...,2.3,NaN,Dissatisfied,29,10015.0,Manufacturing,2.3,https://media.glassdoor.com/sqll/195772/abbott...,www.abbottvascular.com,2.4
4,2.4,"{'name': 'MILES D. WHITE', 'title': 'CEO', 'nu...",3.3,2.6,False,{'attributionURL': 'https://www.glassdoor.com/...,629075,Health Care Products Manufacturing,200072.0,Health Care Products Manufacturing,...,2.9,"{'id': 12, 'name': 'Abbott Labs', 'relationshi...",OK,42,10015.0,Manufacturing,2.2,https://media.glassdoor.com/sqll/629075/abbott...,www.amo-inc.com,3.0
5,0.0,NaN,0.0,0.0,False,NaN,1400213,Legal,200002.0,Legal,...,0,NaN,Not Applicable,0,10001.0,Accounting & Legal,0.0,,www.abbottnicholson.com,0.0
6,0.0,"{'name': 'Alexander Kats', 'title': 'President...",0.0,0.0,False,NaN,1275537,,NaN,NaN,...,0,NaN,Not Applicable,0,NaN,NaN,0.0,,www.abbottcare.com,0.0
7,3.2,"{'name': 'Miles D. White', 'title': 'CEO and C...",4.0,3.1,False,NaN,40423,Food & Beverage Manufacturing,200071.0,Food & Beverage Manufacturing,...,3.0,NaN,OK,48,10015.0,Manufacturing,2.7,https://media.glassdoor.com/sqll/40423/abbott-...,www.abbottnutrition.com,3.0
8,2.5,"{'name': 'Robert Ford', 'title': 'President', ...",3.3,2.6,False,NaN,37963,Health Care Products Manufacturing,200072.0,Health Care Products Manufacturing,...,2.7,NaN,OK,38,10015.0,Manufacturing,2.3,https://media.glassdoor.com/sqll/37963/abbott-...,www.abbottdiabetescare.com,2.7
9,3.2,"{'name': 'Miles D. White', 'title': 'Chairman ...",3.3,3.4,False,NaN,511448,Health Care Services & Hospitals,200059.0,Health Care Services & Hospitals,...,3.5,NaN,Satisfied,64,10012.0,Health Care,2.8,https://media.glassdoor.com/sqll/511448/abbott...,www.abbott.com,3.0
0,3.3,"{'name': 'Miles D. White', 'title': 'Chairman ...",3.8,3.5,True,{'attributionURL': 'https://www.glassdoor.com/...,12,Biotech & Pharmaceuticals,200021.0,Biotech & Pharmaceuticals,...,3.6,NaN,Satisfied,71,10005.0,Biotech & Pharmaceuticals,3.0,https://media.glassdoor.com/sqll/12/abbott-lab...,www.abbott.com,3.4
1,2.8,NaN,3.6,3.2,False,NaN,865943,Banks & Credit Unions,200048.0,Banks & Credit Unions,...,3.0,NaN,OK,54,10010.0,Finance,3.0,https://media.glassdoor.com/sqll/865943/abbott...,www.alecu.org,3.4
2,3.4,"{'name': 'Richard A. Gonzalez', 'title': 'Chai...",4.1,3.7,False,{'attributionURL': 'https://www.glassdoor.com/...,649837,Biotech & Pharmaceuticals,200021.0,Biotech & Pharmaceuticals,...,3.8,NaN,Satisfied,79,10005.0,Biotech & Pharmaceuticals,3.3,https://media.glassdoor.com/sqll/649837/abbvie...,www.abbvie.com,3.6
0,3.4,"{'name': 'Richard A. Gonzalez', 'title': 'Chai...",4.1,3.7,True,{'attributionURL': 'https://www.glassdoor.com/...,649837,Biotech & Pharmaceuticals,200021.0,Biotech & Pharmaceuticals,...,3.8,NaN,Satisfied,79,10005.0,Biotech & Pharmaceuticals,3.3,https://media.glassdoor.com/sqll/649837/abbvie...,www.abbvie.com,3.6
1,4.1,"{'name': 'Brian Slingerland', 'title': 'Chief ...",3.1,4.0,False,NaN,726234,Biotech & Pharmaceuticals,200021.0,Biotech & Pharmaceuticals,...,3.7,"{'id': 649837, 'name': 'AbbVie', 'relationship...",Satisfied,53,10005.0,Biotech & Pharmaceuticals,3.5,https://media.glassdoor.com/sqll/726234/stemce...,www.stemcentrx.com,2.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,4.0,NaN,4.0,4.0,False,NaN,1957184,,NaN,NaN,...,3.0,NaN,OK,0,NaN,NaN,2.0,https://media.glassdoor.com/sqll/1957184/rapid...,www.rapidcityjournal.com,4.0
8,2.5,NaN,2.0,2.0,False,NaN,1062947,,NaN,NaN,...,3.5,NaN,Satisfied,100,NaN,NaN,2.0,,www.reporternews.com,2.0
9,2.4,"{'name': 'Marco Clark', 'title': 'CEO/Head of ...",2.8,3.4,False,NaN,824836,K-12 Education,200046.0,K-12 Education,...,2.6,NaN,OK,68,10009.0,Education,2.7,,www.richardwrightpcs.org,2.4
0,0.0,"{'name': 'Guido Segers', 'title': 'Chairman', ...",0.0,0.0,True,NaN,41217,Investment Banking & Asset Management,200053.0,Investment Banking & Asset Management,...,0,NaN,Not Applicable,0,10010.0,Finance,0.0,https://media.glassdoor.com/sqll/41217/kbc-pri...,www.kbc.com,0.0
0,2.8,"{'name': 'Andrew Day', 'title': 'CEO', 'number...",2.4,3.3,False,{'attributionURL': 'https://www.glassdoor.com/...,463070,IT Services,200064.0,IT Services,...,3.1,NaN,OK,59,10013.0,Information Technology,2.9,https://media.glassdoor.com/sqll/463070/keywor...,www.keywordsstudios.com,3.3
1,4.7,"{'name': 'Paul Baudisch', 'title': 'Co-Founder...",4.5,4.8,False,NaN,825224,Advertising & Marketing,200022.0,Advertising & Marketing,...,4.8,NaN,Very Satisfied,100,10006.0,Business Services,4.8,https://media.glassdoor.com/sqll/825224/keywor...,www.keywordconnects.com,5.0
2,4.0,NaN,5.0,4.0,False,NaN,1059907,,NaN,NaN,...,5.0,NaN,Very Satisfied,100,NaN,NaN,5.0,,www.valuablekeyword.com,5.0
3,0.0,NaN,0.0,0.0,False,NaN,2187156,,NaN,NaN,...,0,NaN,Not Applicable,0,NaN,NaN,0.0,,www.keywordedu.com,0.0
0,3.5,"{'name': 'William Hamilton', 'title': 'Managin...",3.6,3.7,True,{'attributionURL': 'https://www.glassdoor.com/...,352834,IT Services,200064.0,IT Services,...,3.5,"{'id': 2874, 'name': 'Liberty Mutual Insurance...",Satisfied,63,10013.0,Information Technology,3.2,https://media.glassdoor.com/sqll/352834/libert...,www.liberty-it.co.uk,4.3
1,3.4,NaN,3.8,3.5,False,NaN,946752,,NaN,NaN,...,3.8,NaN,Satisfied,81,NaN,NaN,3.4,https://media.glassdoor.com/sqll/946752/libert...,www.libertyits.com,3.9
0,3.0,"{'name': 'Philip Nolan', 'title': 'President',...",2.9,3.8,True,{'attributionURL': 'https://www.glassdoor.com/...,299163,Colleges & Universities,200044.0,Colleges & Universities,...,3.8,NaN,Satisfied,85,10009.0,Education,3.5,https://media.glassdoor.com/sqll/299163/nation...,www.maynoothuniversity.ie,4.2
0,4.5,"{'name': 'Mark Hunt', 'title': 'Managing Direc...",4.6,4.3,True,NaN,337827,Staffing & Outsourcing,200032.0,Staffing & Outsourcing,...,4.4,NaN,Very Satisfied,88,10006.0,Business Services,4.3,https://media.glassdoor.com/sqll/337827/monarc...,www.monarchit.co.uk,3.9
1,0.0,"{'name': 'Daniel Bayles', 'title': 'Owner', 'n...",0.0,0.0,False,NaN,802348,Staffing & Outsourcing,200032.0,Staffing & Outsourcing,...,0,NaN,Not Applicable,0,10006.0,Business Services,0.0,https://media.glassdoor.com/sqll/802348/monarc...,www.monarchrecruiters.com,0.0
0,4.9,"{'name': 'Kean Graham', 'title': 'CEO', 'numbe...",4.5,4.9,True,NaN,1007867,Publishing,200080.0,Publishing,...,5.0,NaN,Very Satisfied,100,10016.0,Media,4.9,https://media.glassdoor.com/sqll/1007867/monet...,www.monetizemore.com,4.9
0,4.4,"{'name': 'Amy Golding', 'title': 'CEO', 'numbe...",4.3,4.3,False,NaN,540720,Staffing & Outsourcing,200032.0,Staffing & Outsourcing,...,4.3,NaN,Very Satisfied,82,10006.0,Business Services,4.2,https://media.glassdoor.com/sqll/540720/opus-p...,www.opustalentsolutions.com,3.5
0,0.0,NaN,0.0,0.0,True,NaN,2038336,K-12 Education,200046.0,K-12 Education,...,0,NaN,Not Applicable,0,10009.0,Education,0.0,,,0.0
1,0.0,NaN,0.0,0.0,False,NaN,2091691,,NaN,NaN,...,0,NaN,Not Applicable,0,NaN,NaN,0.0,,www.priorityplacements.ie,0.0
0,0.0,NaN,0.0,0.0,True,NaN,2091691,,NaN,NaN,...,0,NaN,Not Applicable,0,NaN,NaN,0.0,,www.priorityplacements.ie,0.0
0,0.0,NaN,0.0,0.0,True,NaN,1686240,Advertising & Marketing,200022.0,Advertising & Marketing,...,0,NaN,Not Applicable,0,10006.0,Business Services,0.0,https://media.glassdoor.com/sqll/1686240/relic...,www.relicagency.com,0.0
1,3.9,"{'name': 'Lew Cirne', 'title': 'CEO and Founde...",4.1,4.3,False,{'attributionURL': 'https://www.glassdoor.com/...,461657,Computer Hardware & Software,200060.0,Computer Hardware & Software,...,4.2,NaN,Very Satisfied,80,10013.0,Information Technology,4.0,https://media.glassdoor.com/sqll/461657/new-re...,www.newrelic.com,4.3
2,2.9,"{'name': 'Justin Dowdeswell', 'title': 'Genera...",3.7,3.1,False,NaN,533032,Video Games,200083.0,Video Games,...,3.4,NaN,OK,69,10016.0,Media,3.0,https://media.glassdoor.com/sqll/533032/relic-...,www.relic.com,3.7
3,1.0,NaN,1.0,1.0,False,NaN,1930347,,NaN,NaN,...,3.0,NaN,OK,0,NaN,NaN,1.0,,,1.0
4,5.0,NaN,5.0,5.0,False,NaN,1086780,,NaN,NaN,...,5.0,NaN,Very Satisfied,100,NaN,NaN,5.0,,www.relicsolutions.com,5.0
5,5.0,NaN,5.0,5.0,False,NaN,1773656,,NaN,NaN,...,5.0,NaN,Very Satisfied,100,NaN,NaN,5.0,,www.mustardandrelics.com,5.0
6,0.0,NaN,0.0,0.0,False,NaN,1466268,Home Furniture & Housewares Stores,200112.0,Home Furniture & Housewares Stores,...,0,NaN,Not Applicable,0,10022.0,Retail,0.0,,www.roomrelicsfurniture.com,0.0
7,3.1,NaN,2.1,3.7,False,NaN,1432410,,NaN,NaN,...,3.4,NaN,OK,54,NaN,NaN,3.4,,www.ecorelics.com,3.1
8,0.0,NaN,0.0,0.0,False,NaN,745110,Beauty & Personal Accessories Stores,200102.0,Beauty & Personal Accessories Stores,...,5.0,NaN,Very Satisfied,100,10022.0,Retail,0.0,,www.relicsofchicago.com,0.0
0,2.6,"{'name': 'Flemming Ornskov, MD', 'title': 'CEO...",3.5,2.5,False,{'attributionURL': 'https://www.glassdoor.com/...,7966,Biotech & Pharmaceuticals,200021.0,Biotech & Pharmaceuticals,...,2.7,NaN,OK,37,10005.0,Biotech & Pharmaceuticals,2.2,https://media.glassdoor.com/sqll/7966/shire-sq...,www.shire.com,2.9
0,4.6,"{'name': 'Mohit Lad', 'title': 'CEO', 'numberO...",4.5,4.7,True,{'attributionURL': 'https://www.glassdoor.com/...,486049,Computer Hardware & Software,200060.0,Computer Hardware & Software,...,4.7,NaN,Very Satisfied,94,10013.0,Information Technology,4.5,https://media.glassdoor.com/sqll/486049/thousa...,www.thousandeyes.com,4.5
0,0.0,NaN,0.0,0.0,False,NaN,612472,Advertising & Marketing,200022.0,Advertising & Marketing,...,0,NaN,Not Applicable,0,10006.0,Business Services,0.0,https://media.glassdoor.com/sqll/612472/zentek...,www.zenithtechnologies.com,0.0

In [11]:
#Droping columns 'isEEP' and 'industry'
company_rating_df_nested=company_rating_df_nested.drop(['isEEP','industry'], axis=1)

In [44]:
#Renaming colums
company_rating_df_nested=company_rating_df_nested.rename(index=str, columns={"name": "company_name", "id": "company_id", "squareLogo": "company_logo_url"})

In [13]:
#Adding new columns because of the nested featuredReview column
#df.reindex(columns=[*df.columns.tolist(), 'new_column1', 'new_column2'], fill_value=0)

my_cols_list=['review_URL','review_ID','review_currentJob','review_DateTime',
              'review_jobTitle','review_location','review_pros','review_cons','review_overall']
company_rating_df_nested=company_rating_df_nested.reindex(columns=[*company_rating_df_nested.columns.tolist(), *my_cols_list])

In [14]:
split_featuredReview = company_rating_df_nested['featuredReview'].apply(pd.Series) # split the featuredReview column from company_rating_df_nested
split_featuredReview = split_featuredReview.reset_index(drop=True) # reset index

for i in range(len(company_rating_df_nested)):
    company_rating_df_nested['review_URL'].iloc[i]=split_featuredReview['attributionURL'][i]
    company_rating_df_nested['review_ID'].iloc[i]=split_featuredReview['id'][i]
    company_rating_df_nested['review_currentJob'].iloc[i]=split_featuredReview['currentJob'][i]
    company_rating_df_nested['review_DateTime'].iloc[i]=split_featuredReview['reviewDateTime'][i]
    company_rating_df_nested['review_jobTitle'].iloc[i]=split_featuredReview['jobTitle'][i]
    company_rating_df_nested['review_location'].iloc[i]=split_featuredReview['location'][i]
    company_rating_df_nested['review_pros'].iloc[i]=split_featuredReview['pros'][i]
    company_rating_df_nested['review_cons'].iloc[i]=split_featuredReview['cons'][i]
    company_rating_df_nested['review_overall'].iloc[i]=split_featuredReview['overall'][i]

/Users/aidasehic/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/api.py:43: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  union = _union_indexes(indexes)
/Users/aidasehic/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/api.py:77: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)
/Users/aidasehic/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [15]:
#Adding new columns because of the nested ceo column
#df.reindex(columns=[*df.columns.tolist(), 'new_column1', 'new_column2'], fill_value=0)

my_cols_list2=['ceo_name','ceo_title','ceo_numberOfRatings','ceo_approval_rate','ceo_Photo_URL']
company_rating_df_nested=company_rating_df_nested.reindex(columns=[*company_rating_df_nested.columns.tolist(), *my_cols_list2])

In [16]:
split_ceo = company_rating_df_nested['ceo'].apply(pd.Series) # split the ceo column from company_rating_df_nested
split_ceo = split_ceo.reset_index(drop=True) # reset index
split_ceo_2 = split_ceo['image'].apply(pd.Series)

for i in range(len(company_rating_df_nested)):
    company_rating_df_nested['ceo_name'].iloc[i]=split_ceo['name'][i]
    company_rating_df_nested['ceo_title'].iloc[i]=split_ceo['title'][i]
    company_rating_df_nested['ceo_numberOfRatings'].iloc[i]=split_ceo['numberOfRatings'][i]
    company_rating_df_nested['ceo_approval_rate'].iloc[i]=split_ceo['pctApprove'][i]
    company_rating_df_nested['ceo_Photo_URL'].iloc[i]=split_ceo_2['src'][i]
#company_rating_df_nested.head()

/Users/aidasehic/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/api.py:43: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  union = _union_indexes(indexes)
/Users/aidasehic/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/api.py:77: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)
/Users/aidasehic/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [35]:
#Adding new columns because of the nested parentEmployer column
#df.reindex(columns=[*df.columns.tolist(), 'new_column1', 'new_column2'], fill_value=0)

my_cols_list3=['parentEmployer_name','parentEmployer_ID','parentEmployer_logoURL']
company_rating_df_nested=company_rating_df_nested.reindex(columns=[*company_rating_df_nested.columns.tolist(), *my_cols_list3])

In [36]:
split_parentEmployer = company_rating_df_nested['parentEmployer'].apply(pd.Series) # split the parentEmployer column from company_rating_df_nested
split_parentEmployer = split_parentEmployer.reset_index(drop=True) # reset index
split_parentEmployer_2 = split_parentEmployer['logo'].apply(pd.Series)

for i in range(len(company_rating_df_nested)):
    company_rating_df_nested['parentEmployer_name'].iloc[i]=split_parentEmployer['name'][i]
    company_rating_df_nested['parentEmployer_ID'].iloc[i]=split_parentEmployer['id'][i]
    company_rating_df_nested['parentEmployer_logoURL'].iloc[i]=split_parentEmployer_2['normalUrl'][i]


#company_rating_df_nested.head()

/Users/aidasehic/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/api.py:77: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)
/Users/aidasehic/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/api.py:43: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  union = _union_indexes(indexes)
/Users/aidasehic/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [45]:
company_rating_df_nested

,careerOpportunitiesRating,ceo,compensationAndBenefitsRating,cultureAndValuesRating,exactMatch,featuredReview,company_id,industryId,industryName,company_name,...,review_cons,review_overall,ceo_name,ceo_title,ceo_numberOfRatings,ceo_approval_rate,ceo_Photo_URL,parentEmployer_name,parentEmployer_ID,parentEmployer_logoURL
0,2.7,"{'name': 'Ranjit Singh', 'title': 'CEO', 'numb...",2.2,2.5,False,{'attributionURL': 'https://www.glassdoor.com/...,523766,200071.0,Food & Beverage Manufacturing,2 Sisters Food Group,...,"Night shifts, noisy and due to quality require...",4.0,Ranjit Singh,CEO,24.0,65.0,https://media.glassdoor.com/people/sqll/523766...,NaN,NaN,NaN
0,5.0,NaN,4.4,5.0,True,NaN,1839855,200064.0,IT Services,2Source Talent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,3.0,"{'name': 'Robert Finnegan', 'title': 'CEO', 'n...",3.4,3.1,False,{'attributionURL': 'https://www.glassdoor.com/...,39331,200122.0,Telecommunications Services,Three Ireland,...,"Car park is usually packed, if you are first i...",5.0,Robert Finnegan,CEO,38.0,63.0,https://media.glassdoor.com/people/sqll/39331/...,NaN,NaN,NaN
0,2.1,"{'name': 'Damian Doherty', 'title': 'Owner', '...",2.3,2.3,True,{'attributionURL': 'https://www.glassdoor.com/...,1193024,200032.0,Staffing & Outsourcing,3D Personnel,...,There can be days you are available for work a...,3.0,Damian Doherty,Owner,3.0,68.0,NaN,NaN,NaN,NaN
0,5.0,NaN,5.0,5.0,False,NaN,1169343,NaN,NaN,AAT Technology,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,3.3,"{'name': 'Ulrich Spiesshofer', 'title': 'Chief...",3.3,3.6,True,{'attributionURL': 'https://www.glassdoor.com/...,3076,200070.0,Electrical & Electronic Manufacturing,ABB,...,Low salary and slow paced,4.0,Ulrich Spiesshofer,Chief Executive Officer,731.0,83.0,https://media.glassdoor.com/people/sqll/3076/a...,NaN,NaN,NaN
1,3.0,"{'name': 'Angel Alvarez', 'title': 'Chief Exec...",3.3,3.0,False,NaN,485895,200033.0,Wholesale,ABB Optical Group,...,NaN,NaN,Angel Alvarez,Chief Executive Officer,51.0,77.0,NaN,NaN,NaN,NaN
2,3.3,NaN,3.9,3.9,False,NaN,748075,200028.0,Consulting,ABB Consultant,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.0,NaN,5.0,5.0,False,NaN,908157,200059.0,Health Care Services & Hospitals,ABB Tropos Wireless Communication Systems,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.3,"{'name': 'Matthias Heilmann', 'title': 'Produc...",3.1,2.4,False,NaN,3233,200060.0,Computer Hardware & Software,Ventyx,...,NaN,NaN,Matthias Heilmann,Product Group Manager,16.0,12.0,NaN,ABB,3076.0,https://media.glassdoor.com/sql/3076/abb-squar...
5,4.0,NaN,2.7,4.0,False,NaN,996554,NaN,NaN,MadoX Technologies,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5.0,NaN,4.0,5.0,False,NaN,1949573,NaN,NaN,Albany Berkshire Ballet,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4.0,NaN,3.0,4.0,False,NaN,1943038,NaN,NaN,ABBE Technology Solutions,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.0,NaN,0.0,0.0,False,NaN,2100202,NaN,NaN,AB Business Enterprises,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.0,NaN,0.0,0.0,False,NaN,1987919,NaN,NaN,Aiken-Bamberg-Barnwell-Edgefield Regional Libr...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,3.6,"{'name': 'Rehan A Khan', 'title': 'Managing Di...",3.7,3.5,True,{'attributionURL': 'https://www.glassdoor.com/...,503114,200021.0,Biotech & Pharmaceuticals,Abbott,...,Shift work means you may be put on evenings.,4.0,Rehan A Khan,Managing Director and Executive Director,80.0,93.0,https://media.glassdoor.com/people/sqll/503114...,Abbott Labs,12.0,https://media.glassdoor.com/sql/12/abbott-labs...
1,1.5,NaN,1.5,1.9,False,NaN,1259725,NaN,NaN,"Abbott & Abbott, P.C",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.3,"{'name': 'Miles D. White', 'title': 'Chairman ...",3.8,3.5,False,{'attributionURL': 'https://www.glassdoor.com/...,12,200021.0,Biotech & Pharmaceuticals,Abbott Labs,...,I have nothing negative to say about ADD Longf...,5.0,Miles D. White,Chairman and CEO,738.0,82.0,https://media.glassdoor.com/people/sqll/12/abb...,NaN,NaN,NaN
3,2.3,"{'name': 'Miles D. White', 'title': 'Chairman ...",3.5,2.5,False,{'attributionURL': 'https://www.glassdoor.com/...,195772,200072.0,Health Care Products Manufacturing,Abbott Vascular,...,Engineering/Quality departments not very well ...,4.0,Miles D. White,Chairman & CEO,147.0,53.0,https://media.glassdoor.com/people/sqll/195772...,NaN,NaN,NaN
4,2.4,"{'name': 'MILES D. WHITE', 'title': 'CEO', 'nu...",3.3,2.6,False,{'attributionURL': 'https://www.glassdoor.com/...,629075,200072.0,Health Care Products Manufacturing,Abbott Medical Optics,...,Limited career progression opportunity.,4.0,MILES D. WHITE,CEO,15.0,51.0,https://media.glassdoor.com/people/sqll/629075...,Abbott Labs,12.0,https://media.glassdoor.com/sql/12/abbott-labs...
5,0.0,NaN,0.0,0.0,False,NaN,1400213,200002.0,Legal,Abbott Nicholson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.0,"{'name': 'Alexander Kats', 'title': 'President...",0.0,0.0,False,NaN,1275537,NaN,NaN,Abbott Care,...,NaN,NaN,Alexander Kats,President and CEO,0.0,0.0,NaN,NaN,NaN,NaN
7,3.2,"{'name': 'Miles D. White', 'title': 'CEO and C...",4.0,3.1,False,NaN,40423,200071.0,Food & Beverage Manufacturing,Abbott Nutrition,...,NaN,NaN,Miles D. White,CEO and Chairman,128.0,69.0,https://media.glassdoor.com/people/sqll/40423/...,NaN,NaN,NaN
8,2.5,"{'name': 'Robert Ford', 'title': 'President', ...",3.3,2.6,False,NaN,37963,200072.0,Health Care Products Manufacturing,Abbott Diabetes Care,...,NaN,NaN,Robert Ford,President,32.0,45.0,NaN,NaN,NaN,NaN
9,3.2,"{'name': 'Miles D. White', 'title': 'Chairman ...",3.3,3.4,False,NaN,511448,200059.0,Health Care Services & Hospitals,Abbott Healthcare,...,NaN,NaN,Miles D. White,Chairman & CEO,32.0,86.0,https://media.glassdoor.com/people/sqll/511448...,NaN,NaN,NaN
0,3.3,"{'name': 'Miles D. White', 'title': 'Chairman ...",3.8,3.5,True,{'attributionURL': 'https://www.glassdoor.com/...,12,200021.0,Biotech & Pharmaceuticals,Abbott Labs,...,I have nothing negative to say about ADD Longf...,5.0,Miles D. White,Chairman and CEO,738.0,82.0,https://media.glassdoor.com/people/sqll/12/abb...,NaN,NaN,NaN
1,2.8,NaN,3.6,3.2,False,NaN,865943,200048.0,Banks & Credit Unions,ALEC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.4,"{'name': 'Richard A. Gonzalez', 'title': 'Chai...",4.1,3.7,False,{'attributionURL': 'https://www.glassdoor.com/...,649837,200021.0,Biotech & Pharmaceuticals,AbbVie,...,The industry is quite heavily regulated which ...,5.0,Richard A. Gonzalez,Chairman & CEO,406.0,90.0,https://media.glassdoor.com/people/sqll/649837...,NaN,NaN,NaN
0,3.4,"{'name': 'Richard A. Gonzalez', 'title': 'Chai...",4.1,3.7,True,{'attributionURL': 'https://www.glassdoor.com/...,649837,200021.0,Biotech & Pharmaceuticals,AbbVie,...,The industry is quite heavily regulated which ...,5.0,Richard A. Gonzalez,Chairman & CEO,406.0,90.0,https://media.glassdoor.com/people/sqll/649837...,NaN,NaN,NaN
1,4.1,"{'name': 'Brian Slingerland', 'title': 'Chief ...",3.1,4.0,False,NaN,726234,200021.0,Biotech & Pharmaceuticals,Stemcentrx,...,NaN,NaN,Brian Slingerland,Chief Executive Officer,1.0,-100.0,https://media.glassdoor.com/people/sqll/726234...,AbbVie,649837.0,https://media.glassdoor.com/sql/649837/abbvie-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,4.0,NaN,4.0,4.0,False,NaN,1957184,NaN,NaN,Rapid City Journal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2.5,NaN,2.0,2.0,False,NaN,1062947,NaN,NaN,Abilene Reporter-News,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2.4,"{'name': 'Marco Clark', 'title': 'CEO/Head of ...",2.8,3.4,False,NaN,824836,200046.0,K-12 Education,Richard Wright Public Charter School for Journ...,...,NaN,NaN,Marco Clark,CEO/Head of School,3.0,34.0,NaN,NaN,NaN,NaN
0,0.0,"{'name': 'Guido Segers', 'title': 'Chairman', ...",0.0,0.0,True,NaN,41217,200053.0,Investment Banking & Asset Management,KBC Private Equity,...,NaN,NaN,Guido Segers,Chairman,0.0,0.0,https://media.glassdoor.com/people/sqll/41217/...,NaN,NaN,NaN
0,2.8,"{'name': 'Andrew Day', 'title': 'CEO', 'number...",2.4,3.3,False,{'attributionURL': 'https://www.glassdoor.com/...,463070,200064.0,IT Services,Keywords Studios,...,The salary is a bit low.,4.0,Andrew Day,CEO,39.0,72.0,https://media.glassdoor.com/people/sqll/463070...,NaN,NaN,NaN
1,4.7,"{'name': 'Paul Baudisch', 'title': 'Co-Founder...",4.5,4.8,False,NaN,825224,200022.0,Advertising & Marketing,Keyword Connects,...,NaN,NaN,Paul Baudisch,Co-Founder & Partner,14.0,100.0,NaN,NaN,NaN,NaN
2,4.0,NaN,5.0,4.0,False,NaN,1059907,NaN,NaN,Valuable Keyword,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,NaN,0.0,0.0,False,NaN,2187156,NaN,NaN,Keyword Education,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,3.5,"{'name': 'William Hamilton', 'title': 'Managin...",3.6,3.7,True,{'attributionURL': 'https://www.glassdoor.com/...,352834,200064.0,IT Services,Liberty IT,...,"cant think of any , it was a good experience w...",5.0,William Hamilton,Managing Director,32.0,71.0,https://media.glassdoor.com/people/sqll/352834...,Liberty Mutual Insurance,2874.0,https://media.glassdoor.com/sql/2874/liberty-m...
1,3.4,NaN,3.8,3.5,False,NaN,946752,NaN,NaN,Liberty IT Solutions,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,3.0,"{'name': 'Philip Nolan', 'title': 'President',...",2.9,3.8,True,{'attributionURL': 'https://www.glassdoor.com/...,299163,200044.0,Colleges & Universities,Maynooth University,...,Only a few hours every second week - part of a...,5.0,Philip Nolan,President,11.0,100.0,https://media.glassdoor.com/people/sqll/299163...,NaN,NaN,NaN
0,4.5,"{'name': 'Mark Hunt', 'title': 'Managing Direc...",4.6,4.3,True,NaN,337827,200032.0,Staffing & Outsourcing,Monarch Recruitment,...,NaN,NaN,Mark Hunt,Managing Director,4.0,97.0,NaN,NaN,NaN,NaN
1,0.0,"{'name': 'Daniel Bayles', 'title': 'Owner', 'n...",0.0,0.0,False,NaN,802348,200032.0,Staffing & Outsourcing,Monarch Recruiters,...,NaN,NaN,Daniel Bayles,Owner,0.0,0.0,NaN,NaN,NaN,NaN
0,4.9,"{'name': 'Kean Graham', 'title': 'CEO', 'numbe...",4.5,4.9,True,NaN,1007867,200080.0,Publishing,MonetizeMore,...,NaN,NaN,Kean Graham,CEO,14.0,100.0,NaN,NaN,NaN,NaN
0,4.4,"{'name': 'Amy Golding', 'title': 'CEO', 'numbe...",4.3,4.3,False,NaN,540720,200032.0,Staffing & Outsourcing,Opus Talent Solutions,...,NaN,NaN,Amy Golding,CEO,3.0,100.0,NaN,NaN,NaN,NaN
0,0.0,NaN,0.0,0.0,True,NaN,2038336,200046.0,K-12 Education,Priority Placements,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,NaN,0.0,0.0,False,NaN,2091691,NaN,NaN,Priority Placements (Ireland),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0.0,NaN,0.0,0.0,True,NaN,2091691,NaN,NaN,Priority Placements (Ireland),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,0.0,NaN,0.0,0.0,True,NaN,1686240,200022.0,Advertising & Marketing,Relic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.9,"{'name': 'Lew Cirne', 'title': 'CEO and Founde...",4.1,4.3,False,{'attributionURL': 'https://www.glassdoor.com/...,461657,200060.0,Computer Hardware & Software,New Relic,...,The positives far outweigh any of the negative...,5.0,Lew Cirne,CEO and Founder,229.0,95.0,https://media.glassdoor.com/people/sqll/461657...,NaN,NaN,NaN
2,2.9,"{'name': 'Justin Dowdeswell', 'title': 'Genera...",3.7,3.1,False,NaN,533032,200083.0,Video Games,Relic Entertainment,...,NaN,NaN,Justin Dowdeswell,General Manager,7.0,71.0,https://media.glassdoor.com/people/sqll/533032...,NaN,NaN,NaN
3,1.0,NaN,1.0,1.0,False,NaN,1930347,NaN,NaN,Relic Entertainment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,NaN,5.0,5.0,False,NaN,1086780,NaN,NaN,Relic Solutions,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.0,NaN,5.0,5.0,False,NaN,1773656,NaN,NaN,Mustard & Relics,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.0,NaN,0.0,0.0,False,NaN,1466268,200112.0,Home Furniture & Housewares Stores,Room Relics,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3.1,NaN,2.1,3.7,False,NaN,1432410,NaN,NaN,Eco Relics,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.0,NaN,0.0,0.0,False,NaN,745110,200102.0,Beauty & Personal Accessories Stores,Relics of Chicago,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2.6,"{'name': 'Flemming Ornskov, MD', 'title': 'CEO...",3.5,2.5,False,{'attributionURL': 'https://www.glassdoor.com/...,7966,200021.0,Biotech & Pharmaceuticals,Shire,...,Some uncertainty re job security through integ...,5.0,"Flemming Ornskov, MD",CEO,507.0,27.0,https://media.glassdoor.com/people/sqll/7966/s...,NaN,NaN,NaN
0,4.6,"{'name': 'Mohit Lad', 'title': 'CEO', 'numberO...",4.5,4.7,True,{'attributionURL': 'https://www.glassdoor.com/...,486049,200060.0,Computer Hardware & Software,ThousandEyes,...,Nothing to note at this time except we do not ...,5.0,Mohit Lad,CEO,39.0,99.0,https://media.glassdoor.com/people/sqll/486049...,NaN,NaN,NaN
0,0.0,NaN,0.0,0.0,False,NaN,612472,200022.0,Advertising & Marketing,"ZENTEK AUTOMATION US, INC.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
#dropping columns'ceo','featuredReview', 'parentEmployer'
company_rating_df2=company_rating_df_nested.drop(['ceo','featuredReview', 'parentEmployer'], axis=1)

In [52]:
#Removing duplicate rows
company_rating_df_no_duplicates = company_rating_df2.drop_duplicates(subset=None, keep='first', inplace=False)

In [54]:
#Changing order of the columns
company_rating_df = company_rating_df_no_duplicates[['company_name', 'company_id', 'website', 'company_logo_url', 
                                              'parentEmployer_name', 'parentEmployer_ID','parentEmployer_logoURL',
                                              'numberOfRatings', 'overallRating', 'ratingDescription',
                                              'workLifeBalanceRating', 'careerOpportunitiesRating', 
                                              'compensationAndBenefitsRating', 'cultureAndValuesRating',
                                              'recommendToFriendRating', 'seniorLeadershipRating', 'ceo_name', 
                                              'ceo_title', 'ceo_Photo_URL', 'ceo_numberOfRatings', 'ceo_approval_rate',
                                              'review_URL', 'review_ID', 'review_pros', 'review_cons', 'review_overall',
                                              'review_location', 'review_DateTime', 'review_currentJob', 
                                              'review_jobTitle', 'review_location', 'industryName', 'industryId',
                                              'sectorName', 'sectorId', 'exactMatch']]

In [56]:
company_rating_df.to_csv('company_overall_ratings_all.csv', sep = ',', index = False) # create csv for salaries
company_rating_df

,company_name,company_id,website,company_logo_url,parentEmployer_name,parentEmployer_ID,parentEmployer_logoURL,numberOfRatings,overallRating,ratingDescription,...,review_location,review_DateTime,review_currentJob,review_jobTitle,review_location,industryName,industryId,sectorName,sectorId,exactMatch
0,2 Sisters Food Group,523766,www.2sfg.com,https://media.glassdoor.com/sqll/523766/2-sist...,NaN,NaN,NaN,54,3.0,OK,...,"Longford, Co. Longford (Ireland)",2015-11-24 00:29:59.22,False,Employee,"Longford, Co. Longford (Ireland)",Food & Beverage Manufacturing,200071.0,Manufacturing,10015.0,False
0,2Source Talent,1839855,www.2sourcetalent.com,https://media.glassdoor.com/sqll/1839855/2sour...,NaN,NaN,NaN,5,4.8,Very Satisfied,...,NaN,NaN,NaN,NaN,NaN,IT Services,200064.0,Information Technology,10013.0,True
0,Three Ireland,39331,www.three.ie,https://media.glassdoor.com/sqll/39331/3-irela...,NaN,NaN,NaN,65,3.2,OK,...,"Dublin, Co. Dublin (Ireland)",2018-05-22 01:07:23.073,True,Employee,"Dublin, Co. Dublin (Ireland)",Telecommunications Services,200122.0,Telecommunications,10023.0,False
0,3D Personnel,1193024,www.3dpersonnel.com,https://media.glassdoor.com/sqll/1193024/3d-pe...,NaN,NaN,NaN,6,2.8,OK,...,"Dublin, Co. Dublin (Ireland)",2017-11-14 02:21:03.443,True,General Operator,"Dublin, Co. Dublin (Ireland)",Staffing & Outsourcing,200032.0,Business Services,10006.0,True
0,AAT Technology,1169343,www.aattech.com,,NaN,NaN,NaN,1,5.0,Very Satisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
0,ABB,3076,www.abb.com,https://media.glassdoor.com/sqll/3076/abb-squa...,NaN,NaN,NaN,2426,3.6,Satisfied,...,,2017-06-30 08:22:17.303,False,Employee,,Electrical & Electronic Manufacturing,200070.0,Manufacturing,10015.0,True
1,ABB Optical Group,485895,www.abboptical.com,https://media.glassdoor.com/sqll/485895/abb-co...,NaN,NaN,NaN,85,3.1,OK,...,NaN,NaN,NaN,NaN,NaN,Wholesale,200033.0,Business Services,10006.0,False
2,ABB Consultant,748075,www.abb-consultant.com,,NaN,NaN,NaN,4,3.9,Satisfied,...,NaN,NaN,NaN,NaN,NaN,Consulting,200028.0,Business Services,10006.0,False
3,ABB Tropos Wireless Communication Systems,908157,www.tropos.com,,NaN,NaN,NaN,1,5.0,Very Satisfied,...,NaN,NaN,NaN,NaN,NaN,Health Care Services & Hospitals,200059.0,Health Care,10012.0,False
4,Ventyx,3233,www.abb.com/enterprise-software,https://media.glassdoor.com/sqll/3233/ventyx-s...,ABB,3076.0,https://media.glassdoor.com/sql/3076/abb-squar...,194,2.3,Dissatisfied,...,NaN,NaN,NaN,NaN,NaN,Computer Hardware & Software,200060.0,Information Technology,10013.0,False
5,MadoX Technologies,996554,www.madox.in,,NaN,NaN,NaN,4,4.0,Satisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
6,Albany Berkshire Ballet,1949573,www.berkshireballet.org,,NaN,NaN,NaN,1,5.0,Very Satisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
7,ABBE Technology Solutions,1943038,www.abbe.com.ph,,NaN,NaN,NaN,1,4.0,Satisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
8,AB Business Enterprises,2100202,www.abbegroup.com,,NaN,NaN,NaN,0,0,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
9,Aiken-Bamberg-Barnwell-Edgefield Regional Libr...,1987919,www.abbe-lib.org,,NaN,NaN,NaN,0,0,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
0,Abbott,503114,www.abbott.com,https://media.glassdoor.com/sqll/503114/abbott...,Abbott Labs,12.0,https://media.glassdoor.com/sql/12/abbott-labs...,349,3.6,Satisfied,...,,2018-06-29 14:41:05.61,True,Employee,,Biotech & Pharmaceuticals,200021.0,Biotech & Pharmaceuticals,10005.0,True
1,"Abbott & Abbott, P.C",1259725,www.abbottandabbott.net,https://media.glassdoor.com/sqll/1259725/abbot...,NaN,NaN,NaN,4,2.3,Dissatisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,Abbott Labs,12,www.abbott.com,https://media.glassdoor.com/sqll/12/abbott-lab...,NaN,NaN,NaN,1520,3.6,Satisfied,...,,2018-05-15 23:34:48.953,False,Employee,,Biotech & Pharmaceuticals,200021.0,Biotech & Pharmaceuticals,10005.0,False
3,Abbott Vascular,195772,www.abbottvascular.com,https://media.glassdoor.com/sqll/195772/abbott...,NaN,NaN,NaN,319,2.3,Dissatisfied,...,,2018-03-22 12:41:00.19,True,Employee,,Health Care Products Manufacturing,200072.0,Manufacturing,10015.0,False
4,Abbott Medical Optics,629075,www.amo-inc.com,https://media.glassdoor.com/sqll/629075/abbott...,Abbott Labs,12.0,https://media.glassdoor.com/sql/12/abbott-labs...,115,2.9,OK,...,"Dublin, Co. Dublin (Ireland)",2018-02-24 10:12:39.86,True,Employee,"Dublin, Co. Dublin (Ireland)",Health Care Products Manufacturing,200072.0,Manufacturing,10015.0,False
5,Abbott Nicholson,1400213,www.abbottnicholson.com,,NaN,NaN,NaN,0,0,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,Legal,200002.0,Accounting & Legal,10001.0,False
6,Abbott Care,1275537,www.abbottcare.com,,NaN,NaN,NaN,0,0,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
7,Abbott Nutrition,40423,www.abbottnutrition.com,https://media.glassdoor.com/sqll/40423/abbott-...,NaN,NaN,NaN,253,3.0,OK,...,NaN,NaN,NaN,NaN,NaN,Food & Beverage Manufacturing,200071.0,Manufacturing,10015.0,False
8,Abbott Diabetes Care,37963,www.abbottdiabetescare.com,https://media.glassdoor.com/sqll/37963/abbott-...,NaN,NaN,NaN,125,2.7,OK,...,NaN,NaN,NaN,NaN,NaN,Health Care Products Manufacturing,200072.0,Manufacturing,10015.0,False
9,Abbott Healthcare,511448,www.abbott.com,https://media.glassdoor.com/sqll/511448/abbott...,NaN,NaN,NaN,72,3.5,Satisfied,...,NaN,NaN,NaN,NaN,NaN,Health Care Services & Hospitals,200059.0,Health Care,10012.0,False
0,Abbott Labs,12,www.abbott.com,https://media.glassdoor.com/sqll/12/abbott-lab...,NaN,NaN,NaN,1520,3.6,Satisfied,...,,2018-05-15 23:34:48.953,False,Employee,,Biotech & Pharmaceuticals,200021.0,Biotech & Pharmaceuticals,10005.0,True
1,ALEC,865943,www.alecu.org,https://media.glassdoor.com/sqll/865943/abbott...,NaN,NaN,NaN,10,3.0,OK,...,NaN,NaN,NaN,NaN,NaN,Banks & Credit Unions,200048.0,Finance,10010.0,False
2,AbbVie,649837,www.abbvie.com,https://media.glassdoor.com/sqll/649837/abbvie...,NaN,NaN,NaN,942,3.8,Satisfied,...,"Dublin, Co. Dublin (Ireland)",2018-05-09 08:59:15.263,True,Employee,"Dublin, Co. Dublin (Ireland)",Biotech & Pharmaceuticals,200021.0,Biotech & Pharmaceuticals,10005.0,False
0,AbbVie,649837,www.abbvie.com,https://media.glassdoor.com/sqll/649837/abbvie...,NaN,NaN,NaN,942,3.8,Satisfied,...,"Dublin, Co. Dublin (Ireland)",2018-05-09 08:59:15.263,True,Employee,"Dublin, Co. Dublin (Ireland)",Biotech & Pharmaceuticals,200021.0,Biotech & Pharmaceuticals,10005.0,True
1,Stemcentrx,726234,www.stemcentrx.com,https://media.glassdoor.com/sqll/726234/stemce...,AbbVie,649837.0,https://media.glassdoor.com/sql/649837/abbvie-...,11,3.7,Satisfied,...,NaN,NaN,NaN,NaN,NaN,Biotech & Pharmaceuticals,200021.0,Biotech & Pharmaceuticals,10005.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,Montgomery Media,454493,www.montgomerynews.com,,NaN,NaN,NaN,1,5.0,Very Satisfied,...,NaN,NaN,NaN,NaN,NaN,Internet,200063.0,Information Technology,10013.0,False
7,Rapid City Journal,1957184,www.rapidcityjournal.com,https://media.glassdoor.com/sqll/1957184/rapid...,NaN,NaN,NaN,1,3.0,OK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
8,Abilene Reporter-News,1062947,www.reporternews.com,,NaN,NaN,NaN,3,3.5,Satisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
9,Richard Wright Public Charter School for Journ...,824836,www.richardwrightpcs.org,,NaN,NaN,NaN,6,2.6,OK,...,NaN,NaN,NaN,NaN,NaN,K-12 Education,200046.0,Education,10009.0,False
0,KBC Private Equity,41217,www.kbc.com,https://media.glassdoor.com/sqll/41217/kbc-pri...,NaN,NaN,NaN,0,0,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,Investment Banking & Asset Management,200053.0,Finance,10010.0,True
0,Keywords Studios,463070,www.keywordsstudios.com,https://media.glassdoor.com/sqll/463070/keywor...,NaN,NaN,NaN,161,3.1,OK,...,,2018-06-28 05:46:13.297,True,Employee,,IT Services,200064.0,Information Technology,10013.0,False
1,Keyword Connects,825224,www.keywordconnects.com,https://media.glassdoor.com/sqll/825224/keywor...,NaN,NaN,NaN,16,4.8,Very Satisfied,...,NaN,NaN,NaN,NaN,NaN,Advertising & Marketing,200022.0,Business Services,10006.0,False
2,Valuable Keyword,1059907,www.valuablekeyword.com,,NaN,NaN,NaN,1,5.0,Very Satisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,Keyword Education,2187156,www.keywordedu.com,,NaN,NaN,NaN,0,0,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
0,Liberty IT,352834,www.liberty-it.co.uk,https://media.glassdoor.com/sqll/352834/libert...,Liberty Mutual Insurance,2874.0,https://media.glassdoor.com/sql/2874/liberty-m...,65,3.5,Satisfied,...,"Dublin, Co. Dublin (Ireland)",2018-02-05 08:25:44.02,False,Consultant,"Dublin, Co. Dublin (Ireland)",IT Services,200064.0,Information Technology,10013.0,True
1,Liberty IT Solutions,946752,www.libertyits.com,https://media.glassdoor.com/sqll/946752/libert...,NaN,NaN,NaN,10,3.8,Satisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
0,Maynooth University,299163,www.maynoothuniversity.ie,https://media.glassdoor.com/sqll/299163/nation...,NaN,NaN,NaN,36,3.8,Satisfied,...,,2018-06-06 00:35:30.0,False,Employee,,Colleges & Universities,200044.0,Education,10009.0,True
0,Monarch Recruitment,337827,www.monarchit.co.uk,https://media.glassdoor.com/sqll/337827/monarc...,NaN,NaN,NaN,34,4.4,Very Satisfied,...,NaN,NaN,NaN,NaN,NaN,Staffing & Outsourcing,200032.0,Business Services,10006.0,True
1,Monarch Recruiters,802348,www.monarchrecruiters.com,https://media.glassdoor.com/sqll/802348/monarc...,NaN,NaN,NaN,0,0,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,Staffing & Outsourcing,200032.0,Business Services,10006.0,False
0,MonetizeMore,1007867,www.monetizemore.com,https://media.glassdoor.com/sqll/1007867/monet...,NaN,NaN,NaN,16,5.0,Very Satisfied,...,NaN,NaN,NaN,NaN,NaN,Publishing,200080.0,Media,10016.0,True
0,Opus Talent Solutions,540720,www.opustalentsolutions.com,https://media.glassdoor.com/sqll/540720/opus-p...,NaN,NaN,NaN,131,4.3,Very Satisfied,...,NaN,NaN,NaN,NaN,NaN,Staffing & Outsourcing,200032.0,Business Services,10006.0,False
0,Priority Placements,2038336,,,NaN,NaN,NaN,0,0,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,K-12 Education,200046.0,Education,10009.0,True
1,Priority Placements (Ireland),2091691,www.priorityplacements.ie,,NaN,NaN,NaN,0,0,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
0,Priority Placements (Ireland),2091691,www.priorityplacements.ie,,NaN,NaN,NaN,0,0,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
0,Relic,1686240,www.relicagency.com,https://media.glassdoor.com/sqll/1686240/relic...,NaN,NaN,NaN,0,0,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,Advertising & Marketing,200022.0,Business Services,10006.0,True
1,New Relic,461657,www.newrelic.com,https://media.glassdoor.com/sqll/461657/new-re...,NaN,NaN,NaN,267,4.2,Very Satisfied,...,"Dublin, Co. Dublin (Ireland)",2018-04-26 14:56:41.31,True,Sales Associate,"Dublin, Co. Dublin (Ireland)",Computer Hardware & Software,200060.0,Information Technology,10013.0,False
2,Relic Entertainment,533032,www.relic.com,https://media.glassdoor.com/sqll/533032/relic-...,NaN,NaN,NaN,13,3.4,OK,...,NaN,NaN,NaN,NaN,NaN,Video Games,200083.0,Media,10016.0,False
3,Relic Entertainment,1930347,,,NaN,NaN,NaN,1,3.0,OK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,Relic Solutions,1086780,www.relicsolutions.com,,NaN,NaN,NaN,1,5.0,Very Satisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5,Mustard & Relics,1773656,www.mustardandrelics.com,,NaN,NaN,NaN,1,5.0,Very Satisfied,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
6,Room Relics,1466268,www.roomrelicsfurniture.com,,NaN,NaN,NaN,0,0,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,Home Furniture & Housewares Stores,200112.0,Retail,10022.0,False
7,Eco Relics,1432410,www.ecorelics.com,,NaN,NaN,NaN,3,3.4,OK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
8,Relics of Chicago,745110,www.relicsofchicago.com,,NaN,NaN,NaN,1,5.0,Very Satisfied,...,NaN,NaN,NaN,NaN,NaN,Beauty & Personal Accessories Stores,200102.0,Retail,10022.0,False
0,ThousandEyes,486049,www.thousandeyes.com,https://media.glassdoor.com/sqll/486049/thousa...,NaN,NaN,NaN,49,4.7,Very Satisfied,...,"Dublin, Co. Dublin (Ireland)",2018-06-25 01:48:15.757,True,Customer Success Engineer,"Dublin, Co. Dublin (Ireland)",Computer Hardware & Software,200060.0,Information Technology,10013.0,True
0,"ZENTEK AUTOMATION US, INC.",612472,www.zenithtechnologies.com,https://media.glassdoor.com/sqll/612472/zentek...,NaN,NaN,NaN,0,0,Not Applicable,...,NaN,NaN,NaN,NaN,NaN,Advertising & Marketing,200022.0,Business Services,10006.0,False